In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [5]:
# your code here
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [6]:
# your code here
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [13]:
# your code here
df["method"].nunique()

10

### What is the number of data collected in each year?

In [16]:
# your code here
df.groupby("year").size()

year
1989      1
1992      2
1994      1
1995      1
1996      6
1997      1
1998      5
1999     15
2000     16
2001     12
2002     32
2003     25
2004     26
2005     39
2006     31
2007     53
2008     74
2009     98
2010    102
2011    185
2012    140
2013    118
2014     52
dtype: int64

### Which columns have missing values and how many?

In [17]:
# your code here
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [19]:
def do_something(x, y, z):
    """
    This function takes three parameters x, y, z and calculates z * (x+1) divided by y+1.
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [20]:
# your code here
print(do_something.__doc__)

    This function takes three parameters x, y, z and calculates z * (x+1) divided by y+1.

### Call do_something function for the (11,13,15) values and save it as result

In [21]:
# your code here
result =  do_something(11,13,15)
result

4.26441351888668

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [25]:
s = "I love Machine Learning and Deep Learning"
words = s.split()
words[int(result)]
# use int() to convert the result to integer
# your code here

'and'

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [32]:
import random

arr = [random.randint(1, 100) for i in range(10)]
# jesus, I thought I could finish this semester without re-learning the god-damn sorting methods.
# your code here
i=0
j=1
print(arr)
for i in range(len(arr)):
    for j in range(len(arr)-i-1):
        if arr[j+1] < arr[j]:
            temp = arr[j]
            arr[j]= arr[j+1]
            arr[j+1] = temp
print(arr)

[69, 7, 49, 39, 22, 89, 75, 72, 53, 8]
[7, 8, 22, 39, 49, 53, 69, 72, 75, 89]

### define a recursive function to calculate input numbers factorial named factorial

In [35]:
# your code here
def faktoryel(n):
    if n==1:
        return 1
    if n>1:
        return n*faktoryel(n-1)
faktoryel(5)

120

### define a function to merge the given arrays and calculate the median named twoMedian

In [52]:
# your code here
def mergemedian(a,b):
    merged = np.concatenate((a, b))
    merged = np.sort(merged)
    lenn = len(merged)
    if lenn % 2 == 0:
        middle1 = merged[lenn// 2 - 1]
        middle2 = merged[lenn // 2]
        median = (middle1 + middle2) / 2
    else:
        median = merged[lenn // 2]

    return median
arr = [1,2,3]
arr2 = [3,4,5]
mergemedian(arr,arr2)

3.0